<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CustomerMasking.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="CustomerMasking.App.ConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DV_UrzusNO_Main_Agency;Persist Security Info=True;User ID=sa;Password=Sql2005$" />
    </connectionStrings>
    <applicationSettings>
        <CustomerMasking.App>
            <setting name="BatchSize" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="TableName" serializeAs="String">
                <value>TempCustomerRecordsForProfileMasking</value>
            </setting>
        </CustomerMasking.App>
    </applicationSettings>
</configuration>