<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ApplicationXMLTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ApplicationXMLTool.Properties.Settings.ConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DV_UrzusNO_Main_Agency;Persist Security Info=True;User ID=sa;Password=Sql2005$"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <ApplicationXMLTool.Properties.Settings>
            <setting name="Policies" serializeAs="String">
                <value>
                1
              </value>
            </setting>
            <setting name="UpdateDocuments" serializeAs="String">
                <value>True</value>
            </setting>
        </ApplicationXMLTool.Properties.Settings>
    </applicationSettings>
</configuration>